#!/bin/bash

# Wrapper for launching Picard

usage()
{
echo "Usage:"
echo "  picard <picard command> <argument1> ..."
echo ""
echo "Available Picard Commands:"
ls <%= @extract_path %> | sed -e '/^[a-z].*jar$/d;s/\(.*\).jar$/\1/'
}

if [ -z "$1" ]; then
	usage
	exit 1
fi

if echo "$1" | grep -v '^[a-zA-Z]'; then
	usage
	exit 1
fi

if ls <%= @extract_path %> | grep -qF "$1"; then
	JAR=$1.jar
	shift
	java -jar <%= @extract_path %>/$JAR $@
else
	usage
	exit 1
fi
