<VirtualHost *:80>
  ServerName <%= @params[:server_name] %>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  DocumentRoot <%= @params[:docroot] %>
  RewriteEngine On
  
  <Directory <%= @params[:docroot] %>>
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
		Allow from all
		Options -MultiViews
		PassengerUser <%= @params[:user] %>
		PassengerGroup <%= @params[:group] %>
  </Directory>
   
  <Location /server-status>
    SetHandler server-status

    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
  </Location>

  LogLevel info
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

</VirtualHost>

<VirtualHost *:443>
  ServerName <%= @params[:server_name] %>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  DocumentRoot <%= @params[:docroot] %>
  RewriteEngine On
  
  <Directory <%= @params[:docroot] %>>
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
		Allow from all
		Options -MultiViews
		PassengerUser <%= @params[:user] %>
		PassengerGroup <%= @params[:group] %>
  </Directory>
   
  <Location /server-status>
    SetHandler server-status

    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
  </Location>

  LogLevel info
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

	SSLEngine On
  SSLCertificateFile /etc/chef/certificates/<%= @params[:name] %>.pem
  SSLCertificateKeyFile /etc/chef/certificates/<%= @params[:name] %>.pem

	RequestHeader set X_FORWARDED_PROTO ‘https’

</VirtualHost>	
